{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}

	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenu sur Marwa Cataloge</h1>
			<p class="lead">Marwa Cataloge et une application qui va te permetre de trouvé les Produits les moins cher et les Produit en promotion.</p>
			<hr class="my-4">
			<p>tous les Cataloge son Sur cette Page</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="/produit" role="button">Learn more</a>
			</p>
		</div>
	</div>

{% endblock %}
